body {
    background-color: bisque;
}

button {
    border-radius: 50%;
    border: solid; 
}

.choiceSelectionDiv {
    display: flex;
    text-align: center;
}

.choiceDisplayDiv {
    display: flex;
    
}